@import "./utils/variables";
@import "./utils/utils";
@import "./utils/_mixin";
@import "./utils/_placeholders";
@import "./components/_button";
@import "./components/_logo";
@import "./components/layouts/heder";
@import "./components/_modal-form";
@import "./components/layouts/hero";
@import "./components/layouts/feauture";
@import "./components/layouts/company";
@import "./components/layouts/team";
@import "./components/layouts/clients";
@import "./components/layouts/futer";
@import "./components/layouts/portfolio/portfolio";
