.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transition: var(--transition);
  transform: translate(-50%, -50%) scale(1.1);
}

.backdrop {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: var(--transition);
}

.modal {
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  min-width: 530px;
  min-height: 584px;
  transform: translate(-50%, -50%) scale(1);
  background: var(--primary-button-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: var(--transition);

  .modal__text {
    top: 51px;
    left: 40px;
    margin-bottom: 12px;
    color: var(--primary-text-color);
    text-align: center;

    @include fonts(700, 20px, 1.15, 0.03em);
  }
}

/* Оформлення модального вікна */

.modal__tupe {
  top: 79px;
  left: 41px;
  position: absolute;
  display: flex;
  .modal__box {
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 10px;
  }
  .modal__box label {
    color: var(--primary-text-p-color);
    cursor: pointer;
    margin-bottom: 4px;
    border-radius: 4px;

    @include fonts(400, 12px, 1.16, 0.01em);
  }

  .modal__box input:hover,
  .modal__box input:focus {
    outline: none;
    border: 1px solid var(--primary-touch-color);
    border-radius: 4px;
  }
  .modal__name-holder {
    text-align: left;
    display: inline-block;
    margin-bottom: 4px;

    @include fonts(400, 12px, 1.17, 0.01em);
    color: var(--primary-text-p-color);
  }
  .modal__name {
    transition: var(--transition);
    cursor: pointer;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 448px;
    height: 40px;
  }
  .modal__icon {
    transition: var(--transition);
    color: var(--primary-text-color);
    fill: currentColor;
    z-index: 5;
    top: 50%;
    left: 15px;
    position: absolute;
  }
  .modal__box:focus-within .modal__icon {
    color: var(--primary-touch-color);
  }
}

.modal__comment {
  resize: none;
  transition: var(--transition);
  outline: none;
  cursor: pointer;
  padding: 12px 16px;
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  @include fonts(400, 14px, 1.14, 0.01em);
  .modal__comment:hover,
  .modal__comment:focus {
    border: 1px solid #2196f3;
    border-radius: 4px;
  }
  textarea::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
}

.line.modal--last {
  margin-bottom: 20px;
}

.agreement {
  margin-bottom: 30px;
  cursor: pointer;

  @include Centerdflex(flex);
  position: relative;
  color: var(--primary-text-p-color);

  @include fonts(400, 14px, 1.71, 0.03em);
  &__container {
    @include Centerdflex(block);
    position: relative;
    width: 16px;
    height: 15px;
    margin-right: 8px;
    cursor: pointer;
    margin-right: 7px;
  }
  &__checkbox {
    transition: var(--transition);
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
  }

  &__checkbox:checked + .agreement__icon {
    fill: var(--primary-touch-color);
    opacity: 1;
  }

  &__checkbox:hover ~ &__unchecked,
  &__checkbox:focus ~ &__unchecked {
    border: 2px solid var(--primary-touch-color);
  }

  &__checkbox:checked ~ .agreement__unchecked {
    opacity: 0;
  }
  &__icon {
    transition: var(--transition);
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    width: 16px;
    height: 15px;
  }

  &__icon:hover,
  &__icon:focus {
    border: 2px solid var(--primary-touch-color);
  }
  .agreement__unchecked {
    opacity: 1;
    top: 0;
    left: 0;
    position: absolute;
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid var(--primary-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    background-color: var(--primary-button-text-color);
    transition: var(--transition);
  }
  &__link {
    margin-left: 5px;
    color: var(--primary-touch-color);
    text-decoration-line: underline;
  }
}
