.mobile-menu {
  @media screen and (min-width: 480px) {
    display: block;
    display: flex;
    align-items: center;
    position: relative;

    align-items: center;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    display: none;
  }
  display: flex;
  align-items: center;
  position: relative;
}

.btn-mobile__close {
  &:hover,
  &:focus {
    background-color: var(--primary-button-text-color);
    fill: var(--primary-touch-color);
  }
  transition: var(--transition);
  cursor: pointer;
  border: none;
  background-color: var(--primary-button-text-color);
  position: absolute;
  top: 30px;
  right: 20px;
  margin: 0;
  padding: 0px;
  &__icon-mobile {
    fill: var(--primary-button-text-color);
  }
}
.btn-mobile__open {
  @media screen and (min-width: 480px) {
    margin-left: 250px;
  }
  &:hover,
  &:focus {
    background-color: var(--primary-button-text-color);
    fill: var(--primary-touch-color);
  }
  transition: var(--transition);
  cursor: pointer;
  margin-left: 100px;
  border: none;
  background-color: var(--primary-button-text-color);

  &__icon-mobile {
    fill: var(--primary-button-text-color);
  }
}

.backdrop.is-hidden4 {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden4 .mod {
  opacity: 1;
  transition: var(--transition);
  transform: translate(-50%, -50%) scale(1.1);
}
.mod {
  display: flex;
  flex-direction: column;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  padding-top: 48px;
  padding: 40px;
  width: 100%;
  width: 100%;
  padding: 40px;
  min-height: 100%;
  transform: translate(-50%, -50%) scale(1);
  background: var(--primary-button-text-color);

  transition: var(--transition);
}
.links {
  display: flex;
}
.mobile {
  margin-bottom: auto;
}
.mobile-menu__link {
  transition: var(--transition);

  @include fonts(500, 40px, 1.17, 0.02em);
  color: var(--primary-text-color);
  &:focus,
  &:hover {
    color: var(--primary-touch-color);
  }
}

.mobile-menu__link.nav-link--current {
  color: var(--primary-touch-color);
}

.contatcts-menu__link {
  transition: var(--transition);
  color: var(--primary-text-p-color);

  @include fonts(500, 34px, 1.17, 0.02em);
  &:focus,
  &:hover {
    color: var(--primary-touch-color);
  }
}
.mobile-menu__contatcts {
  margin-bottom: 64px;
}
.mobile-menu__socials {
  flex-wrap: wrap;
  display: flex;
}
.socials-menu__link {
  transition: var(--transition);
  color: var(--primary-touch-color);
  @include fonts(500, 18px, 1.22, 0.02em);
  &:focus,
  &:hover {
    color: var(--primary-touch-color);
  }
}
.mobile-menu__item {
  margin-bottom: 32px;
}
.mobile-menu__item:last-child {
  margin-bottom: 0px;
}
.bok {
  margin-right: 10px;
  margin-left: 10px;
  width: 22px;
  height: 0px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}
