.section-feauture {
  padding-top: 94px;
  padding-bottom: 94px;
}

.feauture {
  @include display(none, flex, none);

  &__item {
    margin-left: 30px;
  }
  &__item:first-child {
    margin-left: 0px;
  }
  &__group {
    @include Centerdflex(flex);

    width: 270px;
    height: 120px;
    margin-left: 30px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: var(--primary-background-color);
  }

  &__group:first-child {
    margin-left: 0px;
  }
  &__caption {
    margin-bottom: 10px;
    font-style: normal;

    @include fonts(700, 14px, 1.14, 0.03em);
    color: var(--primary-text-color);
  }
  &__text {
    width: 270px;

    @include fonts(400, 14px, 1.71, 0.03em);
    color: var(--primary-text-p-color);
  }
}
