/* заголовок */
.hero {
  background-color: #c4c4c4;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #000000;
  box-sizing: border-box;
  color: var(--primary-button-text-color);
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/header.jpg);
  &__title {
    margin-bottom: 30px;
    text-align: center;

    @include fonts(900, 44px, 1.36, 0.06em, uppercase);
  }
  &__button-one {
    @extend %hero-btn;
  }

  &__button-one:hover {
    background: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
}

/* кнопка 1 */

/* Модальне вікно */
