:root {
  --primary-text-color: #212121;
  --primary-touch-color: #2196f3;
  --primary-button-text-color: #ffffff;
  --primary-background-color: #f5f4fa;
  --primary-text-p-color: #757575;
  --primary-futer-color: #2f303a;
  --transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
